# TUPLES

In [1]:
#creating a tuple using ()
tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [2]:
#we cannot update the values of tuple
#Tuple is a imutable data type of python
tup[0]=34
print(tup)

TypeError: 'tuple' object does not support item assignment

In [3]:
#Empty tuple
a=()
print(a)

()

In [5]:
#tuple with single element
t2=(1)   #This is the wrong way to write tuple with single element interpreter can't detect it .
print(t2)
print(type(t2))
t3=(1,)   #this is the right way to write tuple with single element interpreter can detect it.
print(t3)
print(type(t3))

1
<class 'int'>
(1,)
<class 'tuple'>

In [8]:
#Tuple Methods.
t=(1,1,2,3,4,5,7,9,1,5,1,5,7,8)
#it counts the occurance of number
print(t.count(1))
#it shows the first index of the value in tuple
print(t.index(1))
print(t.index(2))

4
0
2