Q1.WAPP to convert killometer to miles

In [1]:
km=float(input("Enter your value in killometer:"))
convert=0.6214
miles=km*convert
print(miles)

Enter your value in killometer:54
33.5556

Q2.WAPP to covert celsius to farhanite

In [2]:
celcius=float(input("Enter the degree celcius:"))
fahra=(celcius*9/5)+32
print(fahra)

Enter the degree celcius:0
32.0

Q3. WAPP to check wheather a number is positive or negative or 0

In [6]:
a=int(input("Enter a number:"))
if(a>0):
    print("a is positive.")
elif(a<0):
    print("a is negative.")
else:
    print("a is 0")

Enter a number:0
a is 0

Q4.WAPP to check wheather a number is even or odd

In [8]:
a=int(input("Enter a number:"))
if(a%2==0):
    print("a is even")
else:
    print("a is odd")

Enter a number:9
a is odd

Q5.WAPP to check leap year

In [11]:
a=int(input("Enter year :"))
if(a%4==0):
    print("{0} is leap year".format(a))
elif(a%100==0):
    print("{0} is leap year".format(a))
elif(a%400==0):
    print("{0} is leap year".format(a))
else:
    print("{0} is not a leap year".format(a))

Enter year :2022
2022 is not a leap year

Q6.WAPP to find greatest among three numbers entered by the user

In [2]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
c=int(input("Enter the third number:"))
if(a>b and a>c):
    print("{0} is greater".format(a))
elif(b>a and b>c):
    print("{0} is greater".format(b))
else:
    print("{0} is greater".format(c))

Enter the first number:20
Enter the second number:56
Enter the third number:89
89 is greater

Q7.WAPP to check wheather a number entered by user is prime or not

In [6]:
num=int(input("Enter the value:"))
if(num>1):
    for i in range (2,int(num/2)+1):
        if(num % i==0):
            print(num,"is not a prime number")
            continue
        else:
            print(num,"is a prime number")
            break
else:
    print(num,"is not a prime number")

Enter the value:101
101 is a prime number

Q8.WAPP to print all the prime numbers within an interval.

In [4]:
x=10
y=60
print("prime numbers between",x,"and",y,"are: ")

for n in range(x, y+1):
    if n > 1:
        for i in range(2, n):
            if (n%2) == 0:
                break
        else:
            print(n)

prime numbers between 10 and 60 are:
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59

Q9.WAPP to find the factorial of a given number

In [6]:
n=int(input("Enter the number:"))
f=1
for i in range(1,n+1):
    f=f*i
print("The factorial of entered number is: ",f)

Enter the number:5
The factorial of entered number is:  120

Q10.WAPP to display the multiplication table of given number

In [7]:
num=int(input("Enter the number for multiplication table :"))
for i in range(1,11):
    print(num, 'x' ,i, '=', num*i)

Enter the number for multiplication table :10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q11.WAPP to print fibonacci sequence

In [8]:
n=int(input("Enter the value of n:"))
x,y=0,1
sum,count=0,1
print("Fibonacci sequence : ",end=" ")
while(count <= n):
    print(sum,end=" ")
    count=count+1
    x=y
    y=sum
    sum=x+y

Enter the value of n:10
Fibonacci sequence :  0 1 1 2 3 5 8 13 21 34

Q12. WAPP to check Armstrong number (for 3 digits).

In [2]:
num=int(input("Enter the number :"))
sum=0
temp=num
while temp> 0:
    digit=temp%10
    sum=sum+digit**3
    temp//=10
if num==sum:
    print(num,"is an armstrong number")
else:
    print(num,"is not an armstrong number")

Enter the number :142
142 is not an armstrong number

Q13.WAPP to find the armstrong number in an interval

In [3]:
x=100
y=400
for n in range(x,y+1):
    order=len(str(n))
    sum=0
    temp=n
    while temp>0:
        digit=temp%10
        sum+=digit**order
        temp//=10
    if n==sum:
        print(n)

153
370
371

Q14.WAPP to find the sum of natural numbers

In [4]:
n=int(input("Enter the number:"))
if n>0:
    print(int(n*(n+1)/2))
else:
    print("Enter a positive number")

Enter the number:20
210

Q15.WAPP to find numbers divisible by another number

In [5]:
x=int(input("Enter a number:"))
y=int(input("Enter a number:"))
div=int(input("Enter a number:"))
if(x%div and Y%div)==0:
    print(x,y,"are divisible by ",div)

Enter a number:6
Enter a number:30
Enter a number:3
6 30 are divisible by  3