# Loop Programs

In [1]:
str="Divyasmita Swain"
for x in str:
    print(x)

D
i
v
y
a
s
m
i
t
a

S
w
a
i
n

In [2]:
list=[90,77,888,54,789]
for j in list:
    c=j+1
    print(c)

91
78
889
55
790

In [4]:
list=[90,77,888,54,789]
for j in list:
    c=j*2
    print(c)
print(c)

180
154
1776
108
1578
1578

In [5]:
list=[10,30,23,43,65,12]
sum=0
for i in list:
    sum=sum+i
print("The sum is:",sum)

The sum is: 183

In [6]:
for i in range(20):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [7]:
#WAP to print a multiplication table for a number given by user
l=int(input("Enter the number for your multiplication table :"))
for i in range(2,11):
    c=l*i
    print(l,"*",i,"=",c)

Enter the number for your multiplication table :10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [10]:
#WAP to print even numbers upto given by user
even=int(input("Enter the number: "))
for i in range(2,even,2):
    print(i)

Enter the number: 20
2
4
6
8
10
12
14
16
18

In [11]:
list=["Divya","Minal","Richa","Shreya"]
for i in range(len(list)):
    print("Namaste",list[i])

Namaste Divya
Namaste Minal
Namaste Richa
Namaste Shreya

In [12]:
rows=int(input("Enter rows: "))
for i in range (0,rows+1):
    for j in range(i):
        print("*",end='')
    print()

Enter rows: 5

*
**
***
****
*****

In [13]:
rows=int(input("Enter the number of rows: "))
for i in range(0,rows+1):
    for j in range(i):
        print(i,end='')
    print()

Enter the number of rows: 7

1
22
333
4444
55555
666666
7777777